.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 6vh;
    height: 25%;
    text-shadow: 4px 4px #3333338f;
}

@media (max-width: 350px) {
    .title {
        font-size: 4.5vh;
    }
}

#upper {
    width: 100%;
    height: 49vh;
}

#down {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-y: scroll;
    height: 51vh;
}

#card {
    background-size: cover !important;
    /*background: #f09433;
    background: -moz-linear-gradient(90deg, hsla(349, 77%, 47%, 1) 13%, hsla(358, 66%, 44%, 1) 29%, hsla(147, 94%, 80%, 1) 94%);
    background: -webkit-linear-gradient(90deg, hsla(349, 77%, 47%, 1) 13%, hsla(358, 66%, 44%, 1) 29%, hsla(147, 94%, 80%, 1) 94%);
    background: linear-gradient(90deg, hsla(349, 77%, 47%, 1) 13%, hsla(358, 66%, 44%, 1) 29%, hsla(147, 94%, 80%, 1) 94%);
    /*background: #d41c3d;
    background: linear-gradient(45deg, hsla(349, 77%, 47%, 1) 13%, hsla(358, 66%, 44%, 1) 29%, hsla(147, 94%, 80%, 1) 94%);
    background: -moz-linear-gradient(45deg, hsla(349, 77%, 47%, 1) 13%, hsla(358, 66%, 44%, 1) 29%, hsla(147, 94%, 80%, 1) 94%);
    background: -webkit-linear-gradient(45deg, hsla(349, 77%, 47%, 1) 13%, hsla(358, 66%, 44%, 1) 29%, hsla(147, 94%, 80%, 1) 94%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#D51C3E", endColorstr="#B9262B", GradientType=1);*/
}

#centerFilter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#leftSpace {
    background-image: url("../res/guuji_of_the_grand_narukami_shrine.png");
    background-position-x: 50%;
    background-position-y: 0;
    background-size: cover;
}

#rightSpace {
    background: url("../res/black_bird_manipulation.png");
    background-position-x: 10%;
    background-position-y: 0;
    background-size: cover;
}

.btn:hover,
.link-none:hover {
    filter: brightness(90%);
    color: #ffffff;
}

.btn:focus {
    box-shadow: 0 0 0 !important;
}

.btn-discord {
    background: #7289da;
    color: #1e2124;
}

.btn-insta {
    color: #ffffff;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.btn {
    font-size: 1.3rem;
    text-shadow: 2px 2px #3333338f;
    box-shadow: 5px 5px 10px 3px #3333338f;
}

.btn-pixiv {
    background: #0077c7;
    color: #ffffff;
}

.btn-twitter {
    background: #1DA1F2;
    color: #ffffff;
}

.btn-artstation {
    background: #14aff0;
    color: #ffffff;
}

.btn-kofi {
    background: #ff5e5b;
    color: #ffffff;
}

.link-none {
    text-decoration: none;
}

.link-none {
    text-decoration: none;
    color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

.text-settings {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

.pfp {
    position: relative;
    width: 30vh;
    height: 30vh;
}

.pfp-border {
    z-index: 50;
    position: absolute;
    width: 32vh;
    /*border size*/
    height: 32vh;
    /*border size*/
    transform: translate(-1vh, -1vh);
    /*offset*/
}